:root {
  --color-main: #1E1E1E;
  --color-second: #FFFFFF;
  --color-accent: #67D285;
  --color-accent-darken: #3D6948;
  --color-gray-lighten: #F2F2F2;
  --color-gray: #787878;
  --color-second-main: #9B191A;
  --color-second-accent: #EC681D;
  --color-third: #FABD13;
}
