:root {
  // line-height
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
  --space-unit: 1em;
}

$breakpoints: (
        xs: 32rem, // ~512px
        sm: 48rem, // ~768px
        md: 64rem, // ~1024px
        lg: 80rem, // ~1280px
        xl: 90rem // ~1440px
) !default;

@mixin breakpoint($breakpoint, $logic: false) {
  @if ($logic) {
    @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  }
}

.text-xxl {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  line-height: var(--heading-line-height);
}

.text-xl {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  line-height: var(--heading-line-height);
}

.margin {
  margin-bottom: 2em;
}

.text-lg {
  font-size: var(--text-lg, 1.44em);
}

.text-md {
  font-size: var(--text-md, 1.2em);
}

.text-component {
  h1, h2, h3, h4 {
    line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
    margin-bottom: calc(var(--space-unit) * 0.25 * var(--text-vspace-multiplier, 1));
  }

  h2, h3, h4 {
    margin-top: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }

  p, blockquote, ul li, ol li {
    line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
  }

  ul, ol, p, blockquote, .text-component__block {
    margin-bottom: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }

  ul, ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  figcaption {
    text-align: center;
    margin-top: calc(var(--space-unit) * 0.5);
  }

  em {
    font-style: italic;
  }

  hr {
    margin-top: calc(var(--space-unit) * 2 * var(--text-vspace-multiplier, 1));
    margin-bottom: calc(var(--space-unit) * 2 * var(--text-vspace-multiplier, 1));
    margin-left: auto;
    margin-right: auto;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--color-second);
  }
}

// text block container
.text-component__block--full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@include breakpoint(sm) {
  .text-component__block--left,
  .text-component__block--right {
    width: 45%;

    img {
      width: 100%;
    }
  }

  .text-component__block--left {
    float: left;
    margin-right: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }

  .text-component__block--right {
    float: right;
    margin-left: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }
}

// outset content
@include breakpoint(xl) {
  .text-component__block--outset {
    width: calc(100% + 10.5 * var(--space-unit));

    img {
      width: 100%;
    }
  }

  .text-component__block--outset:not(.text-component__block--right) {
    margin-left: calc(-5.25 * var(--space-unit));
  }

  .text-component__block--left, .text-component__block--right {
    width: 50%;
  }

  .text-component__block--right.text-component__block--outset {
    margin-right: calc(-5.25 * var(--space-unit));
  }
}
