@import "reset";
@import "variables";
@import "elements";

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif, Arial;
}

.container {
  margin: 0 auto;
  width: 1017px;
  position: relative;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
