.button {
  display: inline-flex;
  height: 60px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 35px;
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  color: var(--color-gray-text);
  background: var(--color-white);
  transition: all .28s ease-in-out;
  text-decoration: none;
  &:hover {
    color: var(--color-primary);
  }

  &--accent {
    color: var(--color-white);
    background: var(--color-primary);
  }

  &--second {
    &:hover {
      background: var(--color-primary);
      color: var(--color-white);
    }
  }
}
